.container{
    width: 85%;
    margin: 20px auto;
}
.members-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.members{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}